 <mat-toolbar>
    <mat-toolbar-row>
        <span>
        <img class="logo" src="../../../assets/media/smdlogo.jpeg" style="border-radius: 10px; height: 60px;" alt="" srcset="">
    </span>
    <span style="margin-left:200px ;">
        
        <div class="input_container">
            <input class="search-input" style="text-align: left; height: 30px;" placeholder="....Search"
             type="text" id="input" value>
            <mat-icon style="color:rgb(36, 35, 35);" class="" matPrefix class="input_img">search</mat-icon>
        </div>
    </span>
        <mat-icon style="color: black; margin-left: 300px;">perm_contact_calendar </mat-icon>
    <mat-icon style="color: black; margin-left: 10px;">notifications</mat-icon>
    
    <img class="avatar" src="../../../assets/media/avatar-icon-images-4.png" alt="user" srcset="">
    <div class="usercontent" >
    <a  href="#">Jhone Doesd</a>     
</div>
<mat-icon style="color: black; margin-left: 10px;">arrow_drop_downs</mat-icon>
      </mat-toolbar-row>
  </mat-toolbar>